{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticketify</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div id="snackbar"></div>

    <div class="main-wrapper">
        {% block content %}{% endblock %}
    </div>

    <script>
        function showSnackbar(message) {
            var x = document.getElementById("snackbar");
            x.innerText = message;
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
        {% if messages %}
            {% for message in messages %}
                showSnackbar("{{ message }}");
            {% endfor %}
        {% endif %}
    </script>
</body>
</html>